# Ignore experimental data, leaving the summary csv files
/saved_magic/*
/baselines/cave_saved/*predator_prey*
/baselines/saved/traffic_junction*
/baselines/ctdcomm_saved/*


# Ignore directories used for informal testing
/envs/base-verysimplemodule/*