# Ignore experimental data, leaving the summary csv files
/saved_magic/*
/baselines/saved/predator_prey*
/baselines/saved/traffic_junction*


# Ignore directories used for informal testing
/envs/base-verysimplemodule/*