# Ignore experimental data, leaving the summary csv files
/saved_magic/*
/baselines/saved/predator_prey*
/baselines/saved/traffic_junction*

# Ignore future work
/baselines/dec_agent.py
/baselines/dec_tarmac.py
/baselines/scripts/*dec*.sh
/baselines/__pycache__/*dec*.pyc